@import "0-plugins/plugins-dir";
@import "1-base/base-dir";
@import "2-modules/modules-dir";
@import "3-layouts/layouts-dir";
@import "4-fonts/fonts";

body,html{
	height:100%;
	width:100%;
	margin: 0;
	overflow: hidden;
}
.wrapper{
	display:flex;
	background:gray;
	height:100%;
	margin: 0px auto;
	.leftMenu{
		display:flex;
		flex-direction: column;
		width:15%;

		.leftMenu-logo{
			display: flex;
			background:#a6a6a6;
			height: 25%;
			align-items: center;
			justify-content: center;
			font-size: 7vw;
			font-family: Futura, "Trebuchet MS", Arial, sans-serif;
			color:slategray;
			cursor: default;
		}
		.leftMenu-nav{
			display: flex;
			position: relative;
			overflow: hidden;
			background:#808080;
			height:55%;
			align-items: center;
			text-align: right;
			padding-right: 10%;
			ul{
				width:100%;
				list-style: none;
				font-size: 2vw;
				font-family: Futura, "Trebuchet MS", Arial, sans-serif;
				font-weight: bold;
				li{
					color:white;
				}
				li:hover{
					color:#cce6ff;
					cursor: pointer;
				}
			}
		}
		.leftMenu-butt{
			display: flex;
			flex-wrap: wrap;
			background: #EEB4B4;
			height: 20%;
			.iconBox{
				display: flex;
				width:50%;
				height:50%;
				background:#a6a6a6;
				align-items: center;
				justify-content: center;
				font-size: 2.7vw;
				text-decoration: none;
				color:white;
			}
			.iconBox:hover{
				color:#cce6ff;
				cursor: pointer;
			}
		}
	}
	.rightContent{
		position: relative;
		display: flex;
		flex-direction: row;
		width:85%;
		background:slategray;
		.musicContent{
			position: absolute;
			display:flex;
			flex-direction: column;
			width: 95%;
			height: 90%;
			margin-top: 2.2%;
			margin-left: 2%;
			transition: transform 1s;
			transform: translateY(0px);
			border: #a6a6a6 solid 8px;
			background: white;
			border-radius: 8px;
		}
		.videoContent{
			position: absolute;
			margin-top: 2.2%;
			margin-left: 2%;
			width: 95%;
			height: 90%;
			transition: transform 1s;
			transform: translateY(2000px);
			border: #a6a6a6 solid 8px;
			border-radius: 8px;
		}
		.picContent{

		}

	}

}
