@import "0-plugins/plugins-dir";
@import "1-base/base-dir";
@import "2-modules/modules-dir";
@import "3-layouts/layouts-dir";
@import "4-fonts/fonts";

body,html{
	height:100%;
	width:100%;
	margin: 0;
}
.wrapper{
	display:flex;
	background:gray;
	height:100%;
	margin: 0px auto;
	.leftMenu{
		display:flex;
		flex-direction: column;
		width:15%;
		.leftMenu-logo{
			display: flex;
			background:#a6a6a6;
			height: 25%;

		}
		.leftMenu-nav{
			display: flex;
			position: relative;
			background:#808080;
			height:55%;
			align-items: center;
			text-align: right;
			padding-right: 10%;
			ul{
				width:100%;
				list-style: none;
				font-size: 2vw;
				font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
				font-weight: bold;
				a{
					text-decoration: none;
					color:white;
				}
				a:hover{
					color:#cce6ff;
				}
			}
		}
		.leftMenu-butt{
			display: flex;
			flex-wrap: wrap;
			background: #EEB4B4;
			height: 20%;
			.iconBox{
				display: flex;
				width:50%;
				height:50%;
				background:#a6a6a6;
				align-items: center;
				justify-content: center;
				a{
					font-size: 2.7vw;
					text-decoration: none;
					color:white;
				}
				a:hover{
					color:#cce6ff;
				}
			}
		}
	}
	.rightContent{
		display:flex;
		position:relative;
		width:85%;
		background:slategray;
		.music{
			display:flex;
			height: 100%;
			width: 100%;
			background: #cce6ff;
			opacity: 0.5;
		}
		.videos{

		}
		.pics{

		}

	}
}
