@import "0-plugins/plugins-dir";
@import "1-base/base-dir";
@import "2-modules/modules-dir";
@import "3-layouts/layouts-dir";
@import "4-fonts/fonts";

body,html{
	height:100%;
	width:100%;
	margin: 0;
	overflow: hidden;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.overlay{
	position: absolute;
	background: fade-out(slategray, 0.05);
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadein 2s;
	.modal{
		min-width:450px;
		background: white;
		padding: 10px;
		padding-left: 20px;
		box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.4);
		position: relative;
		border: white solid 10px;
		transition: transform 1s cubic-bezier(.64,.29,.62,1.2);
		transform: translateY(-2000px);

		.icon-note-beamed{
			position: absolute;
			margin-top: 62px;
			margin-right: 83px;
			top: 0;
			right: 0;
			transform: scale(2);
			color: slategray;
		}

		.close-btn{
			position: absolute;
			top: -35px;
			right: -35px;
			height: 30px;
			width: 30px;
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
			color: black;
			transition: all 100ms ease-in-out;
			background: white;
			border-radius: 30px;

			span:after{
				content: "X";
			}
			&:hover{
				transform: scale(1.2);
			}
		}
		.text-box{
			max-width: 65%;
			.lead{
				margin-top: 10px;
				color: black;
				font-size: 40px;
				line-height: 50px;
				font-weight: bold;
				margin-bottom: 0px;
				transform: scale(1.2);
				text-align: center;
				margin-left: -40px;
				text-transform: uppercase;
			}
			p{
				color: #999;
				font-size: 16px;
				line-height: 25px;
				margin-top: 0px;
				margin-bottom: 0px;
				margin-left: -6px;
				padding: 10px;
				transform: scale(1.2);
				transform: translateY(-4px);
			}
		}
		.graphic{
			display: flex;
			position: absolute;
			top: 0;
			right: 0;
			justify-content: center;
			align-items: center;
			font-size: 150px;
			font-weight: lighter;
			color: black;
			height: 70%;
			transform: scale(1.1);
			transform: translateY(-10px);
			margin-right: -10px;
			margin-top: 10px;
			}
		form{
			position: relative;
			z-index: 2;
			background: #a6a6a6;
			padding: 10px;
			margin: 0px -30px -20px;
			display: flex;
			max-width: 480px;
			input{
				height: 60px;
				border: none;
				display: inline-block;
				padding: 0 20px;
				font-family: Futura, "Trebuchet MS", Arial, sans-serif;
				font-size: 18px;
				&[type="email"]{
					flex: 1;
					display: block;
				}

				&[type="submit"]{

					margin-left: 10px;
					cursor: pointer;
				}
				&[type="submit"]:hover{
					color:slategray;
				}

			}
		}

	}
}

.thanks{
	z-index: 3;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-weight: bold;
	font-size: 300px;
	transition: transform 1s;
	transform: translateY(-2000px);
	color: fade-out(black, .2);
}

.wrapper{
	display:flex;
	background:gray;
	height:100%;
	margin: 0px auto;
	.leftMenu{
		display:flex;
		flex-direction: column;
		width:15%;
		.leftMenu-logo{
			display: flex;
			background:#a6a6a6;
			height: 25%;
			align-items: center;
			justify-content: center;
			font-size: 7vw;
			color:slategray;
			cursor: default;
		}
		.leftMenu-nav{
			display: flex;
			position: relative;
			overflow: hidden;
			background:#808080;
			height:55%;
			align-items: center;
			text-align: right;
			padding-right: 10%;
			ul{
				width:100%;
				list-style: none;
				font-size: 2vw;
				font-family: Futura, "Trebuchet MS", Arial, sans-serif;
				font-weight: bold;
				li{
					color:white;
				}
				li:hover{
					color:#cce6ff;
					cursor: pointer;
				}
			}

		}
		.leftMenu-butt{
			display: flex;
			flex-wrap: wrap;
			background: #EEB4B4;
			height: 20%;
			.iconBox{
				display: flex;
				width:50%;
				height:50%;
				background:#a6a6a6;
				align-items: center;
				justify-content: center;
				font-size: 2.7vw;
				text-decoration: none;
				color:white;
			}
			.iconBox:hover{
				color:#cce6ff;
				cursor: pointer;
			}
		}
	}
	.rightContent{
		position: relative;
		display: flex;
		flex-direction: row;
		width:85%;
		background-color: slategray;
		background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.05) 35px, rgba(255,255,255,.05) 70px);
		.achillesBg{
			display: flex;
			align-items: center;
			justify-content: center;
			color: slategray;
			font-size: 15vw;
			height:100%;
			width:100%;
			cursor: default;
		}
		.musicContent{
			position: absolute;
			display:flex;
			flex-direction: column;
			width: 95%;
			height: 90%;
			margin-top: 2.2%;
			margin-left: 2%;
			justify-content: space-between;
			transition: transform 1s;
			transform: translateY(0px);
			border: #a6a6a6 solid 8px;
			border-radius: 8px;
			animation: fadein 4s;
			align-items: center;
			.listenToMore{
				display: flex;
				position: absolute;
				border: #a6a6a6 solid 8px;
				background: rgba(white, 0.70);
				color: #ff7700;
				bottom: 0;
				margin-bottom: -30px;
				font-size: 20px;
				padding: 5px 10px 5px 10px;
				border-radius: 8px;
				cursor: pointer;
			}
			.listenToMore:hover{
				font-size:30px;
				background: white;
			}

			@media only screen and (max-height: 850px) {
			    /* For mobile phones: */
					#first, #second, #third, #fourth{
						height:25%;
					}
					#fifth{
						display: none;
					}
			}
		}

		.videoContent{
			position: absolute;
			margin-top: 2.2%;
			margin-left: 2%;
			width: 95%;
			height: 90%;
			transition: transform 1s;
			transform: translateY(2000px);
			border: #a6a6a6 solid 8px;
			border-radius: 8px;
		}
		.picContent{
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			margin-top: 2.2%;
			margin-left: 2%;
			width: 95%;
			height: 90%;
			transition: transform 1s;
			transform: translateY(2000px);
			div{
				width: 50%;
				height: 50%;
				cursor: pointer;
				border: #a6a6a6 solid 8px;
				box-sizing: border-box;
				border-collapse: collapse;
			}
			#pic1{
				background: url("../img/img1_thmb.png") no-repeat;
				background-size: cover;
				border-top-left-radius: 8px;
			}
			#pic1:hover:after {
			content:"\A";
			width:50%;
			height:50%;
			background: fade-out(#cce6ff, .5);
			animation: fadein .25s;
			position:absolute;
			top:0;
			left:0;
			}
			#pic2{
				background: url("../img/img2_thmb.png") no-repeat;
				background-size: cover;
				border-top-right-radius: 8px;
			}
			#pic2:hover:after {
			content:"\A";
			width:50%;
			height:50%;
			background:fade-out(#cce6ff, .5);
			animation: fadein .25s;
			position:absolute;
			top:0;
			left:50%;
			}
			#pic3{
				background: url("../img/img3_thmb.png") no-repeat;
				background-size: cover;
				border-bottom-left-radius: 8px;
			}
			#pic3:hover:after {
			content:"\A";
			width:50%;
			height:50%;
			background:fade-out(#cce6ff, .5);
			animation: fadein .25s;
			position:absolute;
			top:50%;
			left:0;
			}
			#pic4{
				background: url("../img/img4_thmb.png") no-repeat;
				background-size: cover;
				border-bottom-right-radius: 8px;
			}
			#pic4:hover:after {
			content:"\A";
			width:50%;
			height:50%;
			background:fade-out(#cce6ff, .5);
			animation: fadein .25s;
			position:absolute;
			top:50%;
			left:50%;
			}
		}
		.bioContent{
			position: absolute;
			margin-top: 2.2%;
			margin-left: 2%;
			width: 95%;
			height: 90%;
			transition: transform 1s;
			transform: translateY(2000px);
			border: #a6a6a6 solid 8px;
			border-radius: 8px;
			background: slategray;
			display: flex;
			.bioLeft{
				position: relative;
				width: 36%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 3%;
				.bioLeft-comment{
					position: relative;
					display: flex;
					border: white solid 8px;
					margin: 2%;
					width: 92%;
					.bioLeft-comment-number{
						display: flex;
						align-items:center;
						justify-content: center;
						width: 15%;
						background:white;
						color: #a6a6a6;
						font-size: 3vw;
					}
					.bioLeft-comment-words{
						display: flex;
						flex-direction: column;
						align-items:center;
						justify-content: center;
						padding-top: 10%;
						padding-bottom: 10%;
						h1{
							width: 100%;
							margin-top: 2%;
							margin-bottom: 0px;
							font-size: 1.5vw;
						}
						p{
							margin-top:7px;
							font-size: .8vw;
						}
						padding: 10px;
						padding-left: 20px;
						width:100%;
						background: #e6e6e6;
					}
				}
			}
			.bioRight{
				display: flex;
				flex-wrap: wrap;
				position: relative;
				width: 100%;
				height: 100%;
				align-content: center;
				justify-content: center;
				.polaroidFilm{
					display: flex;
					flex-direction: column;
					position: relative;
					margin:1%;
					width: 31%;
					height: 45%;
					background: white;
					color: #a6a6a6;
					font-size: 30px;
					p{
						position: absolute;
						bottom:0px;
						font-size: 1.6vw;
						text-align: center;
						width:100%;
					}
					.polaroidPic{
						height: 75%;
						width: 88%;
						position: absolute;
						background: gray;
						margin-left: 6%;
						margin-right: 6%;
						margin-top: 6%;
						margin-bottom: 20%;
					}
				}
				#polar1Pic{
					background: url("../img/polar1.png") no-repeat;
					background-size: cover;
					background-position: center;
					filter: contrast(1.4) saturate(1.8) sepia(.6);
				}
				#polar2Pic{
					background: url("../img/polar2.png") no-repeat;
					background-size: cover;
					background-position: center;
					filter: contrast(1.4) saturate(1.8) sepia(.6);
				}
				#polar3Pic{
					background: url("../img/polar3.png") no-repeat;
					background-size: cover;
					background-position: center;
					filter: contrast(1.4) saturate(1.8) sepia(.6);
				}
				#polar4Pic{
					background: url("../img/polar4.png") no-repeat;
					background-size: cover;
					background-position: center;
					filter: contrast(1.4) saturate(1.8) sepia(.6);
				}
				#polar5Pic{
					background: url("../img/polar5.png") no-repeat;
					background-size: cover;
					background-position: center;
					filter: contrast(1.4) saturate(1.8) sepia(.6);
				}
				#polar6Pic{
					background: url("../img/polar6.png") no-repeat;
					background-size: cover;
					background-position: center;
					filter: contrast(1.4) saturate(1.8) sepia(.6);
				}
			}
		}
		.merchContent{
			position: absolute;
			margin-top: 2.2%;
			margin-left: 2%;
			width: 95%;
			height: 90%;
			transition: transform 1s;
			transform: translateY(2000px);
			border: #a6a6a6 solid 8px;
			border-radius: 8px;
		}

	}

}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@keyframes fadeout {
	from {
		opacity:1;
	}
	to {
		opacity:0;
	}
}
