#main-container{
	margin: 15px 15px 0 15px;
	background: #fffc20;
	background: -moz-linear-gradient(top,  #009109 0%, #009109 13%, #fffc20 21%, #fffc20 78%, #f9003a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #009109 0%,#009109 13%,#fffc20 21%,#fffc20 78%,#f9003a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #009109 0%,#009109 13%,#fffc20 21%,#fffc20 78%,#f9003a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009109', endColorstr='#f9003a',GradientType=0 ); /* IE6-9 */
}

/* -- BEGIN MENU SECTION -- */
#menu-container{
	background: #009109;
	border-radius: 15px 15px 0px 0px;
	display: -webkit-flex;
    display: flex;
}

#menu-left, #menu-right, #menu{
	display: -webkit-flex;
    display: flex;
	align-items: center;
}

#menu-left{

}

#menu{
	width:60%;
	font-size: 3.8vw;
	justify-content: space-around;
}

#menu a, #menu-right a{
	font-family:Impact, Charcoal, sans-serif;
	min-height: 63px;
	text-decoration: none;
	color: #42d24b;
	margin: 0 10px 0 10px;
	text-shadow: 0px 0px 6px #000;
}

#menu a:visited, #menu-right a:visited{
	color: #42d24b;
}
#menu a:hover, #menu-right a:hover{
	color: white;
}

#menu a:active{
	font-size: 3.5vw;
	padding: 0 .6% 0 .6%;
}

#menu-right a:active{
	font-size: 1.7vw;
	padding: 0 1.5% 0 1.5%;
}

#menu-right{
	text-align: left;
	font-size: 2.0vw;
}

#menu-container li{
	display: inline;
}

#menu-right, #menu-left {
	width:20%;
}

#menu-container  ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* -- END MENU SECTION -- */

#content {
	min-height: 790px;
	background: gray;
	margin: 0px 15px 0px 15px;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,.4)
}

#music {
	display: none;
}
#video {
	display: none;
}
#pics {
	display: none;
}
#merch {
	display: none;
}

#footer{
	padding: 8px 0 0 0;
	margin: 0 0 15px 0;
	font-family:Impact, Charcoal, sans-serif;
	color: #ff5050;
	text-align: center;
	background: #f9003a;
	height: 30px;
}

#main-container, #footer {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, .5);
	border-radius: 15px 15px 15px 15px;
}

/* -- BEGIN FONTS SECTION -- */

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?85718967');
  src: url('../font/fontello.eot?85718967#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?85718967') format('woff2'),
       url('../font/fontello.woff?85718967') format('woff'),
       url('../font/fontello.ttf?85718967') format('truetype'),
       url('../font/fontello.svg?85718967#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85718967#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */

/* -- END FONTS SECTION -- */
